# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.env
.env
**/.env

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
ScaffoldingReadMe.txt

# VS Code settings
.vscode/
.history/

# OS junk
Thumbs.db
.DS_Store
appsettings.Development.json

# Binary and Object Files
[Oo]bj/
[Bb]in/