# Build results
bin/
obj/
*.exe
*.dll
*.pdb

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
ScaffoldingReadMe.txt
appsettings.Development.json

# VS Code settings
.vscode/
.history/

# OS junk
Thumbs.db
.DS_Store
