<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage" uri="datacollector://Microsoft/CodeCoverage/1.0" assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.XPlatCodeCoverageDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.XPlatCodeCoverage, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <ExcludeByFile>
            **/FileIntake/Areas/Identity/Pages/**/*.cs,
            <!-- **/Areas/Identity/Pages/**/*.cs, -->
            **/Migrations/**/*.cs,
            **/wwwroot/**/*.*,
            **/obj/**/*.*,
            **/Program.cs,
            **/GlobalUsings.cs,
            **/Data/**/*.cs,
            **/FileIntake/Data/**/*.cs,
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>