<div class="row">
    <div class="col-md-6">
            <textarea name="fileInput" class="form-control" rows="10"></textarea>
    </div>
    <div class="col-md-6">
            <textarea name="AIInput" class="form-control" rows="10"></textarea>
    </div>
Test . AI PAGE . TEST
</div>